/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Calibri', sans-serif;
  /*max-height: 1000px;
  overflow: scroll;*/
  height: 100%;
}

h2,
h3 {
    color: #0BA289;
    font-weight: 700;
}

button[type=button].btn-primary {
    --bs-btn-bg: #53B36F;
    --bs-btn-border-color: #53B36F;
    --bs-btn-hover-bg: #0BA289;
    --bs-btn-hover-border-color: #0BA289;
    --bs-btn-active-bg: #0BA289;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
