.language-selector {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.language-selector .btn {
  font-weight: 500;
  transition: all 0.3s ease;
}

.language-selector .btn-outline-primary {
  color: white;
  background-color: rgb(70, 87, 92);
  border-color: rgb(70, 87, 92);
}

.language-selector .btn-outline-primary:hover {
  color: white;
  background-color: rgb(92, 130, 142);
  border-color: rgb(92, 130, 142);
}

header.first {
  position: relative;
  min-height: 400px;
  overflow: scroll;
}

header.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/brenta02.webp);
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  z-index: -1;
  /* Places the background behind the content */
}

h1 {
  color: white;
  font-weight: bold;
}

header.second {
  color: white;
  font-weight: bold;
  background: linear-gradient(rgba(86, 170, 168, 1) 0%, rgba(133, 183, 90, 1) 100%);
}

header.second img {
  filter: brightness(0) invert(1);
  width: 50px;
}

header.third {
  img {
    width: 50px;
  }

  p {
    font-size: 18px;
  }
}
