<div class="app-container">
  <router-outlet />
  <footer class="footer" *ngIf="!hideFooter">
    <div class="footer-content">
      <img src="funded_by.png" alt="Funded by European Union and UK Research and Innovation" class="footer-image">
      <p class="footer-text">
        This project has received funding from the European Union's Horizon Europe programme (Grant Agreement No. 101086512) and from UK Research and Innovation (UKRI) under the UK government's Horizon Europe funding guarantee (Grant No. 10066637).
      </p>
    </div>
  </footer>
</div>
